awscli==1.17.9
boto==2.49.0
boto3==1.11.9
botocore==1.14.9
colorama==0.4.1
docutils==0.15.2
jmespath==0.9.4
pyasn1==0.4.8
python-dateutil==2.8.1
PyYAML==5.2
rsa==3.4.2
s3transfer==0.3.2
six==1.14.0
urllib3==1.25.8
